@font-face {
  font-family: "Fixedsys";
  src: url("/static/fonts/fixedsys.ttf");
}
body {
  color: #4afa8f;
  font-family: 'FixedSys', sans-serif;
  font-size: 1.6em;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  background-color: #202020;
}
.container {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}
p { margin: 0; }